 <!-- Aktivita Modals -->
 {% for aktivita in site.aktivitas %}
    <div class="portfolio-modal modal fade" id="aktivitasModal{{ aktivita.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <h2>{{ aktivita.title }}</h2>
                            <hr class="star-primary">
                            <!--img src="{{ testimony.img }}" class="img-responsive img-centered" alt="{{ testimony.alt }}"-->
							{% include carousel.html height="500" unit="px" duration="4" number="1" %}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Tutup</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
