 <!-- Facility Modals -->
 {% for fasilita in site.fasilitas %}
    <div class="portfolio-modal modal fade" id="fasilitasModal{{ fasilita.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ fasilita.title }}</h2>
                            <hr class="star-primary">
                            <img src="{{ fasilita.img }}" class="img-responsive img-centered" alt="{{ fasilita.alt }}">
                            <p>{{ fasilita.description }}</p>
                            <!--ul class="list-inline item-details">
                                <li>Tanggal:
                                    <strong>{{ fasilita.project-date }}
                                    </strong>
                                </li>
                                <li>Kategori:
                                    <strong>{{ post.category }}
                                    </strong>
                                </li>
                            </ul-->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Tutup</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
