  <footer>
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="footer-col col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
						<li>&#64;{{ site.contact.username }}</li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <ul class="list-inline quicklinks">
						<li><a href="https://wa.me/{{ site.contact.phone }}?text=Assalamu 'alaykum, Admin KS."><i class="fa fa-phone"></i>
						</a>
						</li>
                        <li><a href="https://wa.me/{{ site.contact.phone }}?text=Assalamu 'alaykum, Admin KS.">{{ site.contact.name }}:</a>
                        </li>
                        <li><a href="https://wa.me/{{ site.contact.phone }}?text=Assalamu 'alaykum, Admin KS.">+{{ site.contact.phone }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
