<!-- Jenjang Section -->
    <section id="jenjang" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ site.narrative.jenjang.title }}</h2>
                    <h3 class="section-subheading text-muted">{{ site.narrative.jenjang.comment }}</h3>
                </div>
            </div>
	{% assign jenjang = site.schools | sort:'modal-id' %}
            {% for school in jenjang %}
            <div class="row content-row" id="{{ school.link }}">
                <div class="col-md-6 col-sm-2 portfolio-item {{ school.mode }}">
                    <a href="#jenjangModal{{ school.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ site.url }}{{ school.img }}" class="img-responsive img-centered img-fullwidth" alt="{{ school.alt }}">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ school.title }}</h4>
                        <p class="text-muted">{{ school.subtitle }}</p>
                    </div>
                </div>
				<div class="col-md-6 col-sm-2 narasi-jenjang">
					<h4>{{ school.alt }}</h4>
					<p class="text-muted">{{ school.narrative }}</p>
				</div>
            </div>
			{% endfor %}            
        </div>
    </section>
