<!-- Kunjungan Section -->
<section id="kunjungan" class="bg-primary">
    <div class="container">
        <div class="row text-center">
            <h2 class="section-heading">{{ site.narrative.kunjungan.title }}</h2>
            <h3 class="section-subheading">{{ site.narrative.kunjungan.comment }}</h3>
        </div>
        <div class="polaroid-gallery" data-polaroid='{{ site.data.polaroid | jsonify }}'>
            {% for guest in site.guests | sort:"position" %}
            <figure class="polaroid-card">
                <img src="{{ guest.bgimg }}" alt="{{ guest.alt }}">
                <figcaption>
                    <h4>{{ guest.title }}</h4>
                    <p>{{ guest.subtitle }}</p>
                </figcaption>
            </figure>
            {% endfor %}
        </div>
    </div>
</section>
