    <!-- Header -->
    <header class="edu-header">
        <div class="container-fluid">
            <div class="intro-gambar col-lg-6">
			</div>
			<div class="intro-text col-lg-6">
                <div class="intro-judul">{{ site.narrative.edu.title }}</div>
                <div class="intro-narasi">{{ site.narrative.edu.comment }}</div>
                <!--a href="{{ site.narrative.home.cta-url }}" class="page-scroll btn btn-xl">{{ site.narrative.home.cta-btn }}</a-->
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

