.navbar-brand {
  position: absolute;
  float: left;
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
}
.navbar-brand img {
  max-width: 20%;
  height: auto;
}
.navbar-default.navbar-shrink .navbar-brand {
  position: absolute;
  float: left;
  display: block;
  max-width: 80%;
  margin: 0px;
  padding: 5px;
}
.navbar-default.navbar-shrink .navbar-brand img {
  max-height: 80%;
  width: auto;
  position: fixed;
  float: left;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0px 20px;
}
.btn-xl {
  border-radius: 0px 20px;
}