/* @ideal1st */

.navbar-brand {
  position: absolute;
  float: left;
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
}
.navbar-brand img {
  max-width: 25%;
  height: auto;
}
.navbar-default.navbar-shrink .navbar-brand {
  position: absolute;
  float: left;
  display: block;
  max-width: 80%;
  margin: 0px;
  padding: 5px;
}
.navbar-default.navbar-shrink .navbar-brand img {
  max-height: 100%;
  width: auto;
  position: fixed;
  float: left;
}
.navbar-default .navbar-nav>.active>a {
  border-radius: 0 20px;
}
.navbar-default .navbar-nav>.active>a:hover {
  border-radius: 0 20px 0 0;
}
.navbar-default .nav ul.dropdown-menu {
  border-radius: 0 0 0 20px;
}
.navbar-default .nav ul.dropdown-menu li a {
  color: #{{ site.data.template.color.primary }};
}
.navbar-default .nav li.dropdown a {
  color: #fff;
}
.navbar-default .nav .dropdown .dropdown-menu li a {
  padding: 20px;
}
.navbar-default .nav .dropdown .dropdown-menu .divider {
  margin: 0 0;
}
.navbar-default .nav .dropdown .dropdown-menu li a:hover {
  color: #fff;
  background-color: #{{ site.data.template.color.secondary }};
  border-radius: 0 0 0 15px;
  padding: 20px;  
}
.navbar-default .nav li.dropdown:hover, .navbar-default .nav li.dropdown.open a.dropdown-toggle {
  background-color: #{{ site.data.template.color.secondary-dark }};
  border-radius: 0 20px 0 0;
}

header.home-header {
	padding: 120px 0;
    text-align: center;
    color: #fff;
    background-attachment: fixed;
    background-image: url('{{ site.url }}{{ site.narrative.home.bgimg }}');
    background-position: right bottom;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header.edu-header {
	padding: 120px 0;
    text-align: center;
    color: #fff;
    background-attachment: fixed;
    background-image: url('{{ site.url }}{{ site.narrative.edu.bgimg }}');
    background-position: right bottom;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header.page-header {
	padding: 120px 0;
    text-align: center;
    color: #fff;
    background-attachment: fixed;
    background-position: right bottom;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding: 100px 50px;
	background-color: rgba(0,0,0,0.6);
	border-radius: 0 20px;
}
header .intro-text .intro-judul {
    margin-bottom: 25px;
    /*text-transform: uppercase;*/
    font-family: {{ site.data.template.font.primary }};
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
	text-align: left;
}
header .intro-text .intro-narasi {
    margin-bottom: 25px;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 24px;
    font-style: italic;
    line-height: 36px;
	text-align: left;
}
header .btn {
	float: left;
}
	

#visi-misi .misi p, #visi-misi h3.visi, #budaya .misi p {
  padding-top: 20px;
  line-height: 40px;
  font-size: 1.5em;
}

#visi-misi .col-md-4 {
  position: relative;
  min-height: 1px;
  padding: 0 15px 15px 15px;
}

.asatidzah-row .team-member img {
  width: 50%;
  height: auto;
}

.btn-xl {
  border-radius: 0px 20px;
}

.bg-primary {
  background-color: #{{ site.data.template.color.primary }};
  background-image: url({{ site.baseurl }}uploads/seamless-overlay.png);
  background-attachment: fixed;
  color: #fff;
}
.bg-darkest-gray .bottom-heading, .bg-darkest-gray .bottom-sublink {
  color: #{{ site.data.template.color.primary }};
  padding-left: 0;
}
.bg-darkest-gray .bottom-heading li a, .bg-darkest-gray .bottom-sublink li a {
  color: #fff;
  text-align: left;
}
.bg-darkest-gray .bottom-heading li, .bg-darkest-gray .bottom-sublink li {
  color: #fff;
  text-align: left;
  padding: 20px 0;
  list-style-type: none;
}

#bottom .col-md-4, #bottom .col-sm-2 {
  padding-bottom: 20px;
}
#bottom .bottom-map {
  border-radius: 0 30px 0 30px;
}

#testimoni .container {
  color: #fff;
}
#testimoni .portfolio-item .portfolio-link, #agenda .portfolio-item .portfolio-link {
    display: block;
    position: absolute;
    margin: 0 auto;
    max-width: 400px;
}
#testimoni .portfolio-item .portfolio-link .portfolio-hover, #agenda .portfolio-item .portfolio-link .portfolio-hover {
	border-radius: 50%;
}

.portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

.portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

.portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    background: rgba(123,206,3,.9); /* Fallback when no plugin support */
    background: rgba({{ site.data.template.color.primary | hex_to_rgb | join: ',' }}, .9);
}

.portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -18px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

.portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

.portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

.portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 16px;
    font-style: italic;
}

#fasilitas * {
    z-index: 2;
}

#fasilitas h2.section-heading {
	color: #fff;
}

#apresiasi .content-row, #jenjang .content-row {
	padding-bottom: 80px;
}
#apresiasi .portfolio-item .portfolio-caption, #jenjang .portfolio-item .portfolio-caption, #selayang .portfolio-item .portfolio-caption {
	max-width: 100%;
}
#apresiasi .portfolio-item .portfolio-link, #jenjang .portfolio-item .portfolio-link {
	max-width: 100%;
}
#apresiasi .narasi-kunjungan, #jenjang .narasi-jenjang {
	vertical-align: center;
}
#apresiasi .narasi-kunjungan p, .narasi-jenjang p {
	text-transform: none;
	font-size: 18px;
	font-style: italic;
	margin: 20px 10px;
}
#apresiasi .narasi-kunjungan h4, .narasi-jenjang h4 {
	text-transform: none;
	font-size: 20px;
	font-style: italic;
	margin: 0px 10px;
}

#agenda .agenda-icon {
	font-size: 30px;
	padding-top: 30%;
}

#jadwal .tanggal {
	font-size: 60px;
}

@media(min-width: 768px) {
	.navbar-default.navbar-shrink .navbar-brand img {
	  max-height: 80%;
	  width: auto;
	  position: fixed;
	  float: left;
	}
	.navbar-default .nav li.dropdown:hover > .dropdown-menu {
	  display:block;
	}
	.navbar-default .nav li.dropdown:hover, .navbar-default .nav li.dropdown.open a.dropdown-toggle {
		background-color: #{{ site.data.template.color.primary }};
		border-radius: 0 20px 0 0;
	}
	.asatidzah-row {
		width: 14.2856%;
	}
	.asatidzah-row .team-member img {
		width: 100%;
		height: auto;
	}
	#testimoni .timeline-image img:hover {
		opacity:0.2;
	}
	#testimoni .portfolio-item .portfolio-link, #agenda .portfolio-item .portfolio-link {
		display: block;
		position: relative;
		margin: 0 auto;
		max-width: 400px;
	}
	#testimoni .portfolio-item .portfolio-link .portfolio-hover, #agenda .portfolio-item .portfolio-link .portfolio-hover {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		-webkit-transition: all ease .5s;
		-moz-transition: all ease .5s;
		transition: all ease .5s;
		background: rgba(123,206,3,.9); /* Fallback when no plugin support */
		background: rgba({{ site.data.template.color.primary | hex_to_rgb | join: ',' }}, .9);
		border-radius: 50%;
	}
	#testimoni .portfolio-item .portfolio-link .portfolio-hover:hover, #agenda .portfolio-item .portfolio-link .portfolio-hover:hover {
		opacity: 1;
	}
	#testimoni .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content, #agenda .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
		position: absolute;
		top: 50%;
		width: 100%;
		height: 20px;
		margin-top: 0px;
		text-align: center;
		font-size: 20px;
		color: #fff;
	}
	#testimoni .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i, #agenda .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
		margin-top: -50%;
	}
	#apresiasi .img-right, #jenjang .img-right, #aktivitas .img-right {
	float: right;
	}
	
	#aktivitas .portfolio-item .portfolio-link, #aktivitas .portfolio-item .portfolio-caption {
		display: block;
		position: relative;
		margin: 0 auto;
		max-width: 100%;
	}
	
	#aktivitas .row {
		padding-bottom: 100px;
	}
}

@media(min-width:992px){
	#agenda .agenda-icon {
		font-size: 60px;
		padding-top: 30%;
	}	
}

::selection {
    text-shadow: none;
    background: {{ site.data.template.color.primary }};
    color: #fff;
}

/* @zmarhesta */
  .jadwal-container {
    padding: 0 10%;
  }

  .grid-container {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    margin: 20px 0;
  }

  .grid-item {
    background-color: white;
    text-align: center;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .grid-item:hover {
    border-radius: 50px;
    transition: all ease-in-out 0.3s;
  }

  .image-wrapper {
    overflow: hidden;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    transition: all ease-in-out 0.3s;
  }

  .image-wrapper:hover {
    scale: 1.1;
    transition: all ease-in-out 0.3s;
  }

  .image {
    width: 500px;
    height: auto;
    object-fit: cover;
  }

  .narrative-first {
    /* background-color: rgba(110, 185, 45);
    padding: 5px 10px 5px 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center; */
    margin-right: 300px;
    /* addition */
    position: relative;
    width: 300px;
    height: 100px;
  }

  #first {
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    padding: 5px 10px 5px 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #{{ site.data.template.color.primary }};
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.3s;
  }

  #slide-first,
  #slide-last {
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    padding: 5px 10px 5px 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: rgb(115, 115, 115);
    /* background: linear-gradient(to right, rgb(176, 176, 176), white); */
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.3s;
  }

  #slide-first p {
    margin-left: 30px;
  }

  #slide-last p {
    margin-right: 30px;
  }

  .narrative-first:hover > #first,
  .narrative-last:hover > #first {
    background-color: #{{ site.data.template.color.secondary }};
    transition: all ease-in-out 0.3s;
  }

  .narrative-first:hover > #first h3,
  .narrative-last:hover > #first h3 {
    transform: scale(1.05);
    transition: all ease-in-out 0.3s;
  }

  .narrative-first:hover > #slide-first {
    transform: translateX(80%);
    width: 110%;
    transition: all ease-in-out 0.3s;
  }

  .narrative-last:hover > #slide-last {
    transform: translateX(-90%);
    width: 110%;
    transition: all ease-in-out 0.3s;
  }

  .narrative-last {
    margin-left: 300px;
    position: relative;
    width: 300px;
    height: 100px;
  }

  .narrative-first h3,
  .narrative-last h3 {
    color: #fff;
    font-size: 3rem;
    transition: all ease-in-out 0.3s;
  }

  .narrative-first p,
  .narrative-last p {
    font-style: italic;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
  }

  @media (max-width: 768px) {
	.jadwal-container {
	  padding: none;
	}
	.grid-container {
	  min-height: 100px;
	}
	
	.narrative-first h3,
    .narrative-last h3 {
      font-size: 1.5em;
	  line-height: 1.2em;
    }

    .narrative-first p,
    .narrative-last p {
      font-size: 1.5em;
	  line-height: 1.2em;
      margin-top: 7px;
    }

    .narrative-first {
      margin-right: 150px;
      min-width: 30%;
      min-height: 70%;
    }

    .narrative-last {
      margin-left: 150px;
      min-width: 30%;
      min-height: 70%;
    }

    #first {
      padding: 0 7px 3px 7px;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    #slide-first {
      padding: 10px 7px 3px 7px;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    #slide-last {
      padding: 7px 7px 3px 25px;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 15px;
    }
	.narrative-first:hover > #slide-first {
      transform: translateX(60%);
      width: 110%;
      transition: all ease-in-out 0.3s;
    }
	.narrative-first:hover > #slide-first p {
	  padding-left: 30%;
	}
    .narrative-last:hover > #slide-last {
      transform: translateX(-60%);
	  padding-right: 10%;
      width: 110%;
      transition: all ease-in-out 0.3s;
    }
	.narrative-last:hover > #slide-last p {
	  padding-right: 30%;
	}
  }

  @media (max-width: 400px) {
    .narrative-first h3,
    .narrative-last h3 {
      font-size: 1rem;
    }

    .narrative-first p,
    .narrative-last p {
      font-size: 0.8rem;
      margin-top: 5px;
    }

    .narrative-first {
      margin-right: 0;
      width: 250px;
      height: 50px;
    }

    .narrative-last {
      margin-left: 0;
      width: 250px;
      height: 50px;
    }

    #first {
      padding: 0 7px 3px 7px;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    #slide-first {
      padding: 10px 7px 3px 7px;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    #slide-last {
      padding: 7px 7px 3px 15px;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    .narrative-first:hover > #slide-first {
      transform: translateX(70%);
      width: 110%;
      transition: all ease-in-out 0.3s;
    }

    .narrative-last:hover > #slide-last {
      transform: translateX(-80%);
      width: 110%;
      transition: all ease-in-out 0.3s;
    }
  }

  .prosedur-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: full;
    padding: 20px 20px 50px;
  }
  .prosedur-stepper {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    max-width: 150px;
    min-width: 120px;
    justify-content: center;
    align-items: center;
  }

  .prosedur-stepper h5 {
    font-size: 1.8rem;
	text-align: center;
	position: absolute;
	padding-top: 150px;
  }

  .stepper-circle {
    position: absolute;
    margin-top: 0;
    height: 100px;
    width: 100px;
    background: linear-gradient(to right, #{{ site.data.template.color.primary }}, #{{ site.data.template.color.secondary }});
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
  }

  .stepper-circle:hover {
    transform: scale(1.05);
    transition: all ease-in-out 0.3s;
  }

  .stepper-circle i {
    position: absolute;
    color: white;
    font-size: 50px;
  }
  .stepper-line {
    height: 3px;
    width: 150px;
    background-color: darkgreen;
    margin: 0 5px;
  }
  .prosedur-stepper h5 {
    max-width: 100px;
  }

  @media (max-width: 992px) {
    .prosedur-container {
      flex-direction: column;
      justify-content: center;
	  padding-right: 120px;
    }

    .prosedur-stepper {
      flex-direction: row;
      padding: 0 0 0 0;
      min-width: 150px;
      justify-content: center;
    }
    .stepper-circle {
      width: 100px;
      height: 100px;
	  position: absolute;
	  align-items: center;
    }
    .stepper-circle i {
      font-size: 64px;
    }

    .stepper-line {
      height: 75px;
      width: 3px;
      margin: 0;
    }

    .prosedur-stepper h5 {
      font-size: 1.5em;
	  text-align: center;
	  padding-top: 0px;
	  padding-left: 240px;
	  position: relative;
    }
  }

  .persyaratan-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
  }

  .list-persyaratan {
    list-style: none;
    font-weight: 500;
    margin-left: -40px;
  }

  .list-persyaratan li {
    transition: all ease-in-out 0.3s;
    line-height: 2;
  }

  .list-persyaratan li:hover {
    transform: translateX(5px);
    transition: all ease-in-out 0.3s;
  }

  .biaya {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(0, 105, 40), rgb(60, 228, 60));
  }

  .biaya p {
    color: rgb(235, 235, 235);
    margin-bottom: 0px;
  }

  .jenis-biaya,
  .jumlah-biaya {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 150px;
  }

  #judul {
    margin-bottom: 10px;
    color: white;
    font-weight: 700;
  }
  #total {
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    .persyaratan-container {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    .list-persyaratan {
      margin-left: -40px;
      min-width: 300px;
    }

    .list-persyaratan li {
      font-size: 13px;
    }

    .biaya {
      padding: 10px;
    }

    .jenis-biaya,
    .jumlah-biaya {
      min-width: 120px;
    }
  }

  @media (max-width: 400px) {
    .persyaratan-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .list-persyaratan {
      margin-left: -20px;
      min-width: 300px;
    }

    .list-persyaratan li {
      font-size: 11px;
    }

    .biaya {
      padding: 10px;
    }

    .biaya p {
      font-size: smaller;
    }

    .jenis-biaya,
    .jumlah-biaya {
      min-width: 110px;
    }
  }

/* @ideal1st */
h4.requirement-heading {
	font-size: 24px;
}
ul.requirement-list {
	text-align: left;
}
li.requirement-item {
	font-size: 24px;
	line-height: 48px;
}
.footer-col {
	padding: 15px 0;
}
.footer-col span.copyright, .footer-col ul.quicklinks {
	font-size: 18px;
	color: #{{ site.data.template.color.secondary-dark }};
	line-height: 30px;
}