.navbar-brand {
  position: absolute;
  float: left;
  display: flex;
  flex-wrap: wrap;
}
.navbar-brand img {
  max-width: 20%;
  height: auto;
}
.navbar-default.navbar-shrink .navbar-brand img {
  max-height: 1000%;
  width: auto;
}
.btn-xl {
  border-radius: 0px 20px;
}