header {
    padding: 40px 0;
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url('{{ site.baseurl }}{{ site.narrative.home.bgimg }}');
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 150px;
    padding-bottom: 50px;
}
header .intro-text .intro-judul {
    margin-bottom: 25px;
    /*text-transform: uppercase;*/
    font-family: {{ site.data.template.font.primary }};
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}
header .intro-text .intro-narasi {
    margin-bottom: 25px;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 24px;
    font-style: italic;
    line-height: 36px;
    text-align: left;
}
header .btn {
    float: left;
}
	

#visi-misi h3.misi, h3.visi {
  padding-top: 20px;
  line-height: 20px;
}

#visi-misi .col-md-4 {
  position: relative;
  min-height: 1px;
  padding: 0 15px 15px 15px;
}

.navbar-brand {
  position: absolute;
  float: left;
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
}
.navbar-brand img {
  max-width: 25%;
  height: auto;
}
.navbar-default.navbar-shrink .navbar-brand {
  position: absolute;
  float: left;
  display: block;
  max-width: 80%;
  margin: 0px;
  padding: 5px;
}
.navbar-default.navbar-shrink .navbar-brand img {
  max-height: 100%;
  width: auto;
  position: fixed;
  float: left;
}
.navbar-default .navbar-nav>.active>a {
  border-radius: 0 20px;
}
.navbar-default .navbar-nav>.active>a:hover {
  border-radius: 0 20px 0 0;
}
.navbar-default .nav ul.dropdown-menu {
  border-radius: 0 0 0 20px;
}
.navbar-default .nav ul.dropdown-menu li a {
  color: #{{ site.data.template.color.primary }};
}
.navbar-default .nav li.dropdown a {
  color: #fff;
}
.navbar-default .nav .dropdown .dropdown-menu li a {
  padding: 20px;
}
.navbar-default .nav .dropdown .dropdown-menu .divider {
  margin: 0 0;
}
.navbar-default .nav .dropdown .dropdown-menu li a:hover {
  color: #fff;
  background-color: #{{ site.data.template.color.secondary }};
  border-radius: 0;
  padding: 20px;  
}
.navbar-default .nav li.dropdown:hover, .navbar-default .nav li.dropdown.open a.dropdown-toggle {
  background-color: #{{ site.data.template.color.secondary-dark }};
  border-radius: 0 20px 0 0;
}

.btn-xl {
  border-radius: 0px 20px;
}
#fasilitas .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#fasilitas .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#fasilitas .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    background: rgba(123,206,3,.9); /* Fallback when no plugin support */
    background: rgba({{ site.data.template.color.primary | hex_to_rgb | join: ',' }}, .9);
}

#fasilitas .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#fasilitas .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#fasilitas .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#fasilitas .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#fasilitas .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#fasilitas .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#fasilitas .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#fasilitas .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 16px;
    font-style: italic;
}

#fasilitas * {
    z-index: 2;
}
#fasilitas h2.section-heading {
    color: #fff;
}

@media(min-width: 768px) {
	.navbar-default.navbar-shrink .navbar-brand img {
	  max-height: 80%;
	  width: auto;
	  position: fixed;
	  float: left;
	}
	.navbar-default .nav li.dropdown:hover > .dropdown-menu {
	  display:block;
	}
	.navbar-default .nav li.dropdown:hover, .navbar-default .nav li.dropdown.open a.dropdown-toggle {
		background-color: #{{ site.data.template.color.primary }};
		border-radius: 0 20px 0 0;
	}
}

}

::selection {
    text-shadow: none;
    background: {{ site.data.template.color.primary }};
    color: #fff;
}
