<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index">
	{% include navbar2.html %}
    {% include beranda-header.html %}
	{% include footer.html %}
	{% include selayang.html %}
    {% include visimisi2.html %}
    {% include asatidzah.html %}
	{% include budaya2.html %}
	{% include testimoni.html %}
	{% include value.html %}
	{% include apresiasi.html %}
    {% include kunjungan.html %}
	{% include bottom.html %}
    {% include footer.html %}
    {% include testimoni-modals.html %}
	{% include apresiasi-modals.html %}
    {% include js.html %}

    </body>
</html>